@tailwind base;
@tailwind components;
@tailwind utilities;



.grid-container {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 5px;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  
}

